/* VLCRepositoryMining.css */

/* Styling for the repository-mining container */
.repository-mining {
    margin: 20px;
  }
  
  /* Styling for the h2 heading */
  .repository-mining h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .repository-mining h3 {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  
  /* Styling for the notes section */
  .repository-mining .notes {
    margin-top: 30px;
  }
  
  /* Styling for the notes list */
  .repository-mining .notes ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* Styling for individual list items */
  .repository-mining .notes li {
    margin-bottom: 5px;
  }
  
  /* Styling for the iframe elements */
  .repository-mining iframe {
    width: 95vw;
    height: 450px;
    margin-bottom: 20px;
  }
  